body {
    font-family: Verdana;
}

table {
    border: 2px solid gray;
    border-collapse: collapse;
    margin-top: 1em;
    text-align: center;
}

th, td {
    border: 2px solid gray;
    padding:.2em;
}